.contacts {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 5% 3%;
    height: auto;

    &__map {
        flex: 1 0 60%;
        height: 100%;
    }

    .map {
        height: 70vh;
        width: 100%;
        margin-bottom: 2%;
    }

    &__heading {
        font-family: $ff-tertiary;
        margin-bottom: 5%;
    }

    &__form {
        flex: 1 0 30%;
        padding: 3% 5%;
        box-sizing: border-box;
    }

    &__addresses {
        display: flex;
        justify-content: space-between;
        flex-flow: row nowrap;
        height: auto;
        font-family: $ff-primary;
    }
}

@media (max-width: $bp-small) {
    .contacts {
        flex-flow: column nowrap;

        &__map {
            width: 100%;
            margin-bottom: 2%;
        }

        &__addresses {
            flex-flow: row wrap;
        }

        &__form {
            width: 100%;
            padding: 2% 0;
        }
    }
}