%button-reset {
    background: transparent;
    border: none;
    outline: none;

    &:hover {
        cursor: pointer;
    }
}

.button-submit {
    @extend %button-reset;
    font-family: $ff-primary;
    padding: 0.5em 1.3em;
    border: 1px solid $primary-color;
    border-radius: 1.3em;
    color: $text-color--light;
    background: linear-gradient(to right,$primary-color--lighter, $tertiary-color--lighter);

    &:hover {
        background: linear-gradient(to right,$primary-color, $tertiary-color);
    }
}

