.card {
  @include clip-path-wipe;
  background-color: white;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;

  &__header {
    font-family: $ff-primary;
    font-size: 1.5em;
    flex: 1 1 60%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__content {
    background-color: #fff;
    flex: 2 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 3%;
}

  &__heading {
      font-weight: $semi-bold;
  }

  &__subheading {
      font-weight: $light;
  }

  &__register-link {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    height: 70%;
  }

  @media (max-width: $bp-small) {
    flex-flow: column-reverse nowrap;
    &__header {
      font-size: 1.2em;
    }

    &__register-link {
      font-size: 0.8em;
    }
  }
  
}
