@import "../basics/base";

.carousel {
  position: relative;
  height: calc(100vh - 4.3em);
  overflow: hidden;

  &__slider {
    height: inherit;
    background-color: $primary-color;
  }

  &__indicators {
    @extend %clear-horizontal-list;
    position: absolute;
    bottom: 2%;
    left: 45%;
  }

  &__indicator {
    margin-right: 0.5em;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    opacity: 0.6;
    background-color: rgb(216, 216, 216);
    border: 2px solid rgb(173, 173, 173);
    
    &:hover {
        cursor: pointer;
    }

    &:last-child {
      margin-right: 0;
    }

    &--selected {
      background-color: $primary-color--lighter;
      border-color: $primary-color;
    }
  }

  &__arrow {
    @extend %button-reset;
    cursor: pointer;
    position: absolute;
    top: 0;
    z-index: 1;
    padding: 1em 0.5em;
    font-size: 2em;
    height: 100%;
    opacity: 0.5;
    color: $primary-color;

    &:hover {
      color: $primary-color--lighter;
      opacity: 1;
      transition: all 0.3s ease;
    }

    &:disabled {
      color: $disabled-color;
      cursor: default;
    }
  }

  &__arrow--left {
    left: 0;
    &:hover {
      background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0));
    }
    
  }

  &__arrow--right {
    right: 0;
    &:hover {
      background: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0));
    }  
  }
}
