// -------------INPUTS-------------------

%input-basic {
    border: none;
    border-bottom: 1px solid $gray;
    font-weight: $light;
    font-family: $ff-tertiary;
    padding: 0.2em 0;
    color: $text-color--dark;
    width: 100%;
    box-sizing: border-box;

    &:focus {
        outline: none;
        border-bottom: 1px solid $primary-color--lighter;
    }

    &::placeholder {
        color: $gray;
    }
}

%label-basic {
    font-size: 0.8em;
    color: $gray--dark;;
    font-weight: $bold;
}

%textarea-basic {
    border: none;
    border-bottom: 1px solid $gray;
    font-weight: $light;
    font-family: $ff-tertiary;
    resize: none;
    width: 100%;
    height: 100%;

    &:focus {
        border-bottom: 1px solid $tertiary-color--lighter;
        outline: none;
    }

    &::placeholder {
        color: $gray;
    }
}

input {
    @extend %input-basic;
}

label {
    @extend %label-basic;
}

textarea {
    @extend %textarea-basic;
}

.form-group > label,
.form-group > input {
    display: block;
}

// ----------FORMS-------------

.form {
    &__field {
        margin-bottom: 5%;
    }

    &__submit {
        display: block;
        margin: 0 auto;
    }

}