// -------------INPUTS-------------------

//Input
%input-basic {
  border: none;
  font-weight: $light;
  font-family: $ff-tertiary;
  color: $text-color--dark;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;

  &:focus {
    outline: none;
    border-bottom: 1px solid $primary-color--lighter;
  }

  &::placeholder {
    color: $gray;
  }
}

//label
%label-basic {
  font-size: 0.9em;
  color: $tertiary-color;
  font-weight: $bold;
}

//textarea
%textarea-basic {
  border: none;
  border-bottom: 1px solid $gray;
  font-weight: $light;
  font-family: $ff-tertiary;
  resize: none;
  width: 100%;
  height: 100%;

  &:focus {
    border-bottom: 1px solid $tertiary-color--lighter;
    outline: none;
  }

  &::placeholder {
    color: $gray;
  }
}

//select
%select-basic {
  padding: 0.3em 1em;
  outline: none;
  font-size: 0.8em;
}

label {
  @extend %label-basic;
}

textarea {
  @extend %textarea-basic;
}

select {
  @extend %select-basic;
}

.input-warning {
  padding: 1em 0;
  font-size: 0.8em;
  color: $danger-color;
  font-family: $ff-tertiary;
  font-weight: $light;
}

.input-flat {
  @extend %input-basic;
  border-bottom: 1px solid $gray;
  padding: 0.2em 0;
}

.input-search-menu {
  @extend %input-basic;
  padding: 0.5em 1.5em;
  background-color: $secondary-color--lighter;
  border-radius: 1em;
  border-bottom: none;
}

// ----------FORMS-------------

.form {
  &__field {
    margin-bottom: 5%;
  }

  &__submit {
    display: block;
    margin: 0 auto;
  }

  &__group {
    max-width: 45%;

    @media (max-width: $bp-small) {
      max-width: 100%;
      margin-bottom: 2em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__image-preview {
    max-width: 100%;
    max-height: 70vh;
  }

  &__file-label {
    cursor: pointer;

    &:hover {
      color: $primary-color;
    }
  }
}

.form-upload {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;

  @media (max-width: $bp-small) {
    flex-flow: column nowrap;
  }

  input[id="add_album"] {
    display: none;
  }

  input[type="file"] {
    width: 1px;
    height: 1px;
    opacity: 0;
  }
}

.taglist {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  margin: 0;
  padding: 0;

  &__item {
    margin-right: 1em;
    margin-bottom: 1em;
    padding: 0.3em 0.8em;
    border-radius: 1em;
    font-size: 0.8em;
    color: $text-color--dark;

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(odd) {
        background-color: $primary-color--lighter;
    }

    &:nth-child(even) {
        background-color: $secondary-color--lighter;
    }

    &:nth-child(3n + 1) {
        background-color: $tertiary-color--lighter;
    }
  }

  &__link {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: $text-color--light;
    }
  }

  &__icon {
    margin-left: 0.3em;
    cursor: pointer;
    color: inherit
  }
}
