.photo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px $gray--dark;
  max-width: 100%;
  min-height: 80vh;
  background-color: #fff;

  &__image {
    flex: 1 0 65%;

    img {
      display: block;
      margin: 0 auto;
      //fit image in div
      max-width: 100%;
      max-height: 80vh;
    }
  }

  &__details {
    flex: 1 0 35%;
    border-left: 1px solid $gray;
    align-self: stretch;
  }
}

.details {
  &__content,
  &__header {
    padding: 5% 4%;
  }

  &__header {
    font-size: 1.3em;
    border-bottom: 1px solid $gray;
  }

  &__content > div{
    margin-bottom: 3%;
  }

  &__tags {
    font-size: 1.3em;
  }

  &__date {
    font-size: 0.8em;
    font-family: $ff-primary;
    float: right;
  }

  &__icon {
    margin-right: 0.5em;
    color: $primary-color;
  }

  &__link {
    text-decoration: none;
    font-weight: $bold;
    color: $text-color--dark;

    &:hover {
      color: $primary-color--lighter;
    }
  }
}

//---------MOBILE--------------

@media (max-width: $bp-small) {
  .photo {
    flex-flow: column nowrap;
    max-height: 100%;
    &__image {
      img {
        display: block;
        margin: 0 auto;
        max-height: 70vh;
      }
    }

    &__details {
      border-left: none;
    }
  }
}
