.options {
  //IE
  position: fixed;

  //others
  position: sticky;
  top: $content-padding-top;
  padding: 5% 2%;
  box-shadow: 4px 0 3px $gray;
  box-sizing: border-box;
  background-color: #fff;
  height: calc(100vh - 4.3em);
  overflow-y: auto;
  overflow-x: hidden;

  &__section {
    margin-bottom: 20%;
  }

  &__heading {
    font-weight: $light;
    margin-bottom: 5%;
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__close {
    display: none;
  }
}

.sort {

  &__item {
    margin-bottom: 1em;
  }

  &__input {
    display: none;
  }

  &__label:hover, 
  &__input:checked + &__label {
    background-color: $primary-color;
    color: $text-color--light;
    cursor: pointer;
    transition: 0.3s ease;
  }


  &__label {
    font-weight: $light;
    padding: 0.3em 0;
    text-align: center;
    border: 1px solid $primary-color;
    border-radius: 0.8em;
    display: inline-block;
    width: 100%;
    color: $text-color--dark;
  }
}

.filter {
  display: flex;
  flex-flow: row wrap;
  padding: 3%;

  &__item {
    margin-right: 0.5em;
    margin-bottom: 0.5em;
  }

  &__input {
    display: none;

    &:checked + .filter__label::before {
      content: "\2713";
      padding: 0 0.4em;
    }
  }

  &__label {
    display: block;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    border: 1px solid rgba($gray, 0.5);

    &--reset {
      width: auto;
      height: auto;
      border: none;
      color: $text-color--dark;
    }

    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }
}

@media (max-width: $bp-small) {
  .options {
    position: static;
    height: auto;
    padding: 5% 3%;

    &__close {
      display: block;
      text-align: center;
      font-weight: $light;
      font-size: 1.3em;
      padding: 0.5em 1em;
      margin: 0 auto;
      border-radius: 1.3em;
      background-color: $primary-color;
      color: $text-color--light;
      width: 30%;
    }
  }
}


