$padding-dropdown: 0.5em;

#navigation_icon,
.navigation__icon {
    display: none;
}

.navigation {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: rgb(2, 34, 12);
    padding: 1em;
    align-items: center;

    &__icon {
        color: #fff;
        font-size: 1.5em;
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    color: $menu-text-color;
    font-family: $ff-primary;
    font-weight: $semi-bold;
    font-size: 1.1em;
    width: 100%;

    &__item {
        flex: 1 1 auto;
        text-align: center;
        text-decoration: none;
        color: $secondary-color--lighter;
        border-left: 1px solid $secondary-color--lighter;
        padding: $padding-dropdown 0;
    }

    &__item:first-child {
        border-left: 0;
    }

    &__item:nth-child(odd):hover {
        color: $primary-color--lighter;
        cursor: pointer;
    }

    &__item:nth-child(even):hover {
        color: $tertiary-color--lighter;
        cursor: pointer;
    }
}

.dropdown {
    position: relative;

    &:hover {
        background-color: #fff;
    }

    &:hover &__content {
        display: block;
    }

    &__icon {
        margin-left: 0.5em;
    }


    &__content {
        display: none;
        position: absolute;
        margin-top: $padding-dropdown;
        width: 100%;
        text-align: left;
        background-color: #fff;
        box-shadow: 0 8px 6px rgb(226, 226, 226);
    }

    &__content a {
        display: block;
        font-size: 0.8em;
        color: #000;
        text-decoration: none;
        padding: 0.5em 1em;
        border-bottom: 1px solid $secondary-color;

        &:hover {
            background-color: $secondary-color--lighter;
        }
    }
}

// --------------MOBILE-----------------------

@media (max-width: $mobile-max-width) {
    .navigation {
        // flex-flow: row-reverse nowrap;
        align-items: flex-start;

        &__menu {
            display: none;
        }
    }

    .navigation__icon {
        display: block;
    }

    #navigation_icon:checked ~ .menu {
        display: flex;
    }

    #navigation_icon:checked ~ .navigation__search {
        display: none;
    }

    .menu {
        flex-flow: column-reverse nowrap;
        font-size: 0.8em;
        align-items: center;

        &__item {
            border-left: none;
        }
    }
}

// --------------TABLET------------------

@media (max-width: $tablet-max-width) {
    .navigation {
        font-size: 0.8em;
    }
}