
$padding-dropdown: 0.5em;

#navigation_icon,
.navigation__icon {
  display: none;
}

.navigation {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color:$the-menu-bg-color;
  padding: 1em;
  align-items: center;

  &__icon {
    color: #fff;
    font-size: 1.5em;
  }

  &__logo {
    width: 10%;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  font-family: $ff-primary;
  font-weight: $regular;
  width: 100%;
  z-index: 2;

  &__item {
    flex: 1 1 auto;
    text-align: center;
    text-decoration: none;
    border-left: 1px solid $primary-color;
    padding: $padding-dropdown 0;
  }

  &__item:nth-child(odd):hover,
  &__item:nth-child(even):hover {
    color: $primary-color;
    cursor: pointer;
  }

  &__item:first-child {
    border-left: 0;
  }

  &__item:nth-child(odd) {
    color: $primary-color--lighter;
  }

  &__item:nth-child(even) {
    color: $tertiary-color--lighter;
  }
}

// --------------MOBILE-----------------------

@media (max-width: $bp-small) {
  .navigation {
    // flex-flow: row-reverse nowrap;
    align-items: center;

    &__menu {
      display: none;
    }

    &__logo {
      width: 15%;
    }
  }

  .navigation__icon {
    display: block;
  }

  #navigation_icon:checked ~ .menu {
    display: flex;
  }

  #navigation_icon:checked ~ .navigation__search {
    display: none;
  }

  .menu {
    position: absolute;
    flex-flow: column nowrap;
    top: 0;
    left: 0;
    background-color: inherit;
    width: auto;
    max-height: 100vh;
    overflow-y: auto;

    &__item {
      border-left: none;
      border-bottom: 1px solid $secondary-color;
      padding: 1.5em;
      text-align: left;
    }
  }
}

// --------------TABLET------------------
